<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<nav>
  <ul id="game-nav">
    <li id="score">Score: {{score}}</li>
    <a id="profile-btn" href="/profile">Profile</a>
  </ul>
</nav>

<body>
  <div id="map"></div>

  <div id="message">
    <div id="box">
    </div>

    <div id="ask">
      <div id="question">
        <h3>{{randomQuestion.question}}</h3>
      </div>
      <div id="options">
        <ul>
          {{#each randomQuestion.options}}
          <li>{{a}}</li>
          <li>{{b}}</li>
          <li>{{c}}</li>
          <li>{{d}}</li>
          {{/each}}
          <li id="correctAns">{{randomQuestion.correctAnswer}}</li>
        </ul>
      </div>
    </div>

  </div>
  <div id="button-section">
    <button id="refresh">My Position</button>
    <button id="skip">Skip</button>
  </div>
</body>


<script src="javascripts/map.js"></script>