<nav id="nav-profile">
  <ul>

    <a href="/update-profile">Setting</a>
    <a href="/game">Play</a>
    <a href="./auth/logout">Logout</a>



  </ul>
</nav>
<h1 id="profile-title">Profile page</h1>



<container id="container-profile">
  <div>
    <img id="profile" src="{{profilePic}}" alt="profile-picture">
    <form method="POST" action="/upload" enctype="multipart/form-data">
      <input type="file" name="imageUrl" accept="image/png, image/jpg">
      <button id="pic-submit" type="submit">Submit</button>
    </form>
  </div>

  <div id="user-info">
    <h3>Username: {{username}}</h3>
    <h3>Score: {{score}}</h3>
    <h3>City: {{city}}</h3>

  </div>
</container>

<div id="feed-title">
  <h2>Challenge Pictures</h2>
</div>

<div id="feed-submit">
  <form id="upload-feed" method="POST" action="/upload-feed" enctype="multipart/form-data">
    <input type="file" name="imageUrl" accept="image/png, image/jpg">
    <button type="submit">Submit</button>
  </form>
</div>

<div id="feed">
  {{#each images}}
  <img src="{{this}}" alt="">
  {{/each}}
</div>